body {
    margin: 0;
    background-color: black;
}

.container {
    width: 100%;
    height: 180vh;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "main main main main"
        "main main main main"
        "footer footer footer footer"
    ;
}

.header {
    background-color: rgb(5, 8, 10);
    grid-area: header;
}

.main {
    background-color: rgb(0, 0, 0);
    grid-area: main;
}

.footer {
    background-color: rgb(0, 0, 0);
    grid-area: footer;
}

@media only screen and (max-width:600px) {
    .container {
        grid-template-areas:
            "header header header header"
            "main main main main"
            "main main main main"
            "main main main main"
            "footer footer footer footer"
        ;
    }
}

.Nav_container {
    width: 100%;
    position: relative;
    background-color: #282525;
    font-family: Roboto, Trebuchet MS, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.upper_nav {
    height: 52px;
    border-bottom: 1px solid #0f0d0d;
    padding: 0 20px;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-evenly;
    position: relative;
}

.right_nav1 {
    left: 870px;
    position: absolute;
}

.search_photo {
    height: 50px;
    margin-right: 10px
}

.left_nav2 {
    position: absolute;
    right: 915px;
}

.lower_nav {
    height: 40px;
    text-align: center;
    font-family: Roboto, Trebuchet MS, Helvetica, Arial, sans-serif;
}

#navigate {
    overflow: hidden;
    text-align: center;
    margin-left: 300px;
}

#navigate a {
    float: left;
    color: #f3efef76;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navigate:hover {
    color: rgb(241, 235, 235);
}


#section1 {
    display: flex;
    justify-content: center;
    position: relative;
    top: -200px;
}

#headline_movies {
    font-weight: 800;
    position: relative;
    top: -140px;
}

.part_1 {
    background-image: url("./Images/podcast1.png");
    background-repeat: no-repeat;
    animation-name: slider1_1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    background-size: contain;
    height: 400px;
    width: 450px;
}

@keyframes slider1_1 {
    0% {
        background-image: url("./Images/podcast1.png");
    }

    50% {
        background-image: url("./Images/podcast2.png");
    }

    100% {
        background-image: url("./Images/podcast3.png");
    }
}

.part_2 {
    background-image: url("./Images/podcast4.png");
    background-repeat: no-repeat;
    animation-name: slider1_2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    background-size: contain;
    height: 400px;
    width: 450px;
}

@keyframes slider1_2 {
    0% {
        background-image: url("./Images/podcast4.png");
    }

    50% {
        background-image: url("./Images/podcast5.png");
    }

    100% {
        background-image: url("./Images/podcast6.png");
    }
}

.part_3 {
    background-image: url("./Images/podcast7.png");
    background-repeat: no-repeat;
    animation-name: slider1_3;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    background-size: contain;
    height: 400px;
    width: 450px;
}

@keyframes slider1_3 {

    0% {
        background-image: url("./Images/podcast7.png");
    }

    50% {
        background-image: url("./Images/podcast8.png");
    }

    100% {
        background-image: url("./Images/podcast9.png");
    }
}

.part_4 {
    background-image: url("./Images/podcast4.png");
    background-repeat: no-repeat;
    animation-name: slider1_4;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    background-size: contain;
    height: 400px;
    width: 450px;
}

@keyframes slider1_4 {

    0% {
        background-image: url("./Images/podcast2.png");
    }

    50% {
        background-image: url("./Images/podcast6.png");
    }

    100% {
        background-image: url("./Images/podcast1.png");
    }
}

.part_5 {
    background-image: url("./Images/tv_show1.png");
    background-repeat: no-repeat;
    animation-name: slider1_5;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    background-size: contain;
    height: 400px;
    width: 450px;
}

@keyframes slider1_5 {

    0% {
        background-image: url("./Images/tv_show2.png");
    }

    50% {
        background-image: url("./Images/tv_show3.png");
    }

    100% {
        background-image: url("./Images/tv_show4.png");
    }
}

.part_6 {
    background-image: url("./Images/tv_show5.png");
    background-repeat: no-repeat;
    animation-name: slider1_6;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    background-size: contain;
    height: 400px;
    width: 450px;
}

@keyframes slider1_6 {

    0% {
        background-image: url("./Images/tv_show5.png");
    }

    50% {
        background-image: url("./Images/tv_show6.png");
    }

    100% {
        background-image: url("./Images/tv_show7.png");
    }
}

#section2 {
    display: flex;
    justify-content: center;
    position: relative;
    top: -300px;
}

#headline_soon {
    font-weight: 800;
    color: white;
    position: relative;
    top: -270px;

}

.part2_1 {
    background-image: url("./Images/SOON_1.png");
    background-repeat: no-repeat;
    animation-name: slider2_1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    background-size: contain;
    height: 400px;
    width: 400px;
}

@keyframes slider2_1 {
    0% {
        background-image: url("./Images/SOON_1.png");
    }

    50% {
        background-image: url("./Images/SOON_1.png");
    }

    100% {
        background-image: url("./Images/SOON_1.png");
    }
}

.part2_2 {
    background-image: url("./Images/SOON_2.png");
    background-repeat: no-repeat;
    animation-name: slider2_2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    background-size: contain;
    height: 400px;
    width: 400px;
}

@keyframes slider2_2 {
    0% {
        background-image: url("./Images/SOON_2.png");
    }

    50% {
        background-image: url("./Images/SOON_2.png");
    }

    100% {
        background-image: url("./Images/SOON_2.png");
    }
}

.part2_3 {
    background-image: url("./Images/SOON_3.png");
    background-repeat: no-repeat;
    animation-name: slider2_3;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    background-size: contain;
    height: 400px;
    width: 400px;
}

@keyframes slider2_3 {

    0% {
        background-image: url("./Images/SOON_3.png");
    }

    50% {
        background-image: url("./Images/SOON_3.png");
    }

    100% {
        background-image: url("./Images/SOON_3.png");
    }
}

.part2_4 {
    background-image: url("./Images/SOON_4.png");
    background-repeat: no-repeat;
    animation-name: slider2_4;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    background-size: contain;
    height: 400px;
    width: 400px;
}

@keyframes slider2_4 {

    0% {
        background-image: url("./Images/SOON_4.png");
    }

    50% {
        background-image: url("./Images/SOON_4.png");
    }

    100% {
        background-image: url("./Images/SOON_4.png");
    }
}

.part2_5 {
    background-image: url("./Images/SOON_5.png");
    background-repeat: no-repeat;
    animation-name: slider2_5;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    background-size: contain;
    height: 400px;
    width: 400px;
}

@keyframes slider2_5 {

    0% {
        background-image: url("./Images/SOON_5.png");
    }

    50% {
        background-image: url("./Images/SOON_5.png");
    }

    100% {
        background-image: url("./Images/SOON_5.png");
    }
}

.part_6 {
    background-image: url("./Images/SOON_6.png");
    background-repeat: no-repeat;
    animation-name: slider2_6;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    background-size: contain;
    height: 400px;
    width: 400px;
}

@keyframes slider2_6 {

    0% {
        background-image: url("./Images/SOON_6.png");
    }

    50% {
        background-image: url("./Images/SOON_6.png");
    }

    100% {
        background-image: url("./Images/SOON_6.png");
    }
}


#contact_headline {
    font-family: Roboto, Trebuchet MS, Helvetica, Arial, sans-serif;
    color: white;
    font-weight: 800;
    position: relative;
    top: 55px;
    display: block;
}

.cards {
    display: flex;
}

.footr {
    display: flex;
    position: relative;
    top: 40px;
    font-family: Roboto, Trebuchet MS, Helvetica, Arial, sans-serif;
}

h1 {
    font-family: Roboto, Trebuchet MS, Helvetica, Arial, sans-serif;
    color: white;
    font-size: 20px;
    justify-content: center;
    position: absolute;
    left: 320px;
}

#icon_1 {
    width: 30px;
    height: 30px;
    top: 630px;
}

#icon_2 {
    width: 30px;
    height: 30px;
    top: 630px;
}

#icon_3 {
    width: 30px;
    height: 30px;
    top: 630px;
}

#disney_company {
    color: white;
    text-align: center;
    font-size: 20px;
    text-shadow: 1px 1px #FF0000;
    font-weight: bold;
    font-family: Roboto, Trebuchet MS, Helvetica, Arial, sans-serif;
    animation: fadeIn1 5s;
    position: relative;
    top: 300px;
}

@keyframes fadeIn1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


#disney_website {
    color: white;
    text-align: center;
    font-size: 18px;
    text-shadow: 1px 1px #006aff;
    font-weight: bold;
    font-family: Roboto, Trebuchet MS, Helvetica, Arial, sans-serif;
    animation: fadeIn2 5s;
    position: relative;
    top: 100px;
}

@keyframes fadeIn2 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

table,
th,
tr,
td {
    border-collapse: collapse;
}